node_modules
.next
out
.turbo

vite.config.*.timestamp*
vitest.config.*.timestamp*
.vercel

.env*
!.env.template

# Build
dist
tmp

.editorconfig
.vscode
.cursor
.idea
.project
.classpath
.c9
*.launch
.settings
*.sublime-workspace

.prettierignore
.prettierrc
.coderabbitai.yml
.github
.git
.gitignore

*.md

.DS_Store
Thumbs.db
