:root,
.light,
.light-theme {
  --amber-1: oklch(99.426% 0.00274 84.294);
  --amber-2: oklch(98.559% 0.02368 99.139);
  --amber-3: oklch(96.954% 0.06832 100.408);
  --amber-4: oklch(94.666% 0.10429 98.65);
  --amber-5: oklch(91.799% 0.13256 98.242);
  --amber-6: oklch(87.841% 0.12245 92.727);
  --amber-7: oklch(82.529% 0.12182 85.967);
  --amber-8: oklch(75.767% 0.14021 76.717);
  --amber-9: oklch(85.369% 0.15713 84.132);
  --amber-10: oklch(83.129% 0.16785 80.848);
  --amber-11: oklch(57.064% 0.1291 63.931);
  --amber-12: oklch(11.732% 0.009 73.456);
}
.dark,
.dark-theme {
  --amber-1: oklch(18.496% 0.01334 77.782);
  --amber-2: oklch(21.199% 0.01839 81.98);
  --amber-3: oklch(25.781% 0.0442 74.473);
  --amber-4: oklch(29.55% 0.06264 73.876);
  --amber-5: oklch(33.41% 0.07177 71.357);
  --amber-6: oklch(38.633% 0.07835 75.252);
  --amber-7: oklch(45.424% 0.08232 74.954);
  --amber-8: oklch(53.637% 0.09634 73.43);
  --amber-9: oklch(85.369% 0.15713 84.132);
  --amber-10: oklch(88.491% 0.18044 94.792);
  --amber-11: oklch(85.973% 0.17251 88.536);
  --amber-12: oklch(93.505% 0.07161 86.067);
}
