:root,
.light,
.light-theme {
  --gray-1: oklch(99.107% 0.00011 271.152);
  --gray-2: oklch(98.212% 0.00011 271.152);
  --gray-3: oklch(95.514% 0.00011 271.152);
  --gray-4: oklch(93.1% 0.00011 271.152);
  --gray-5: oklch(90.67% 0.0001 271.152);
  --gray-6: oklch(88.531% 0.0001 271.152);
  --gray-7: oklch(85.142% 0.0001 271.152);
  --gray-8: oklch(79.208% 0.00009 271.152);
  --gray-9: oklch(64.341% 0.00007 271.152);
  --gray-10: oklch(60.999% 0.00007 271.152);
  --gray-11: oklch(50.323% 0.00006 271.152);
  --gray-12: oklch(24.354% 0.00003 271.152);
}
.dark,
.dark-theme {
  --gray-1: oklch(17.764% 0.00002 271.152);
  --gray-2: oklch(21.342% 0.00002 271.152);
  --gray-3: oklch(25.197% 0.00003 271.152);
  --gray-4: oklch(28.502% 0.00003 271.152);
  --gray-5: oklch(31.317% 0.00004 271.152);
  --gray-6: oklch(34.846% 0.00004 271.152);
  --gray-7: oklch(40.167% 0.00005 271.152);
  --gray-8: oklch(48.906% 0.00006 271.152);
  --gray-9: oklch(53.824% 0.00006 271.152);
  --gray-10: oklch(58.292% 0.00007 271.152);
  --gray-11: oklch(76.993% 0.00009 271.152);
  --gray-12: oklch(94.912% 0.00011 271.152);
}
