:root,
.light,
.light-theme {
  --green-1: oklch(99.421% 0.00406 158.639);
  --green-2: oklch(98.145% 0.00983 155.685);
  --green-3: oklch(95.825% 0.02223 156.179);
  --green-4: oklch(93.354% 0.03714 156.577);
  --green-5: oklch(89.881% 0.04891 157.358);
  --green-6: oklch(85.583% 0.06403 158.284);
  --green-7: oklch(79.816% 0.08314 159.207);
  --green-8: oklch(71.584% 0.11243 160.852);
  --green-9: oklch(64.061% 0.13286 157.708);
  --green-10: oklch(61.148% 0.12663 158.257);
  --green-11: oklch(54.371% 0.11065 160.082);
  --green-12: oklch(32.199% 0.0475 164.576);
}
.dark,
.dark-theme {
  --green-1: oklch(18.729% 0.01227 167.104);
  --green-2: oklch(21.166% 0.01537 166);
  --green-3: oklch(27.215% 0.03957 162.212);
  --green-4: oklch(31.728% 0.05693 161.878);
  --green-5: oklch(36.493% 0.06603 161.262);
  --green-6: oklch(41.245% 0.07214 160.982);
  --green-7: oklch(10.101% 0.00842 165.308);
  --green-8: oklch(52.804% 0.09627 159.423);
  --green-9: oklch(10.436% 0.00335 196.846);
  --green-10: oklch(67.46% 0.14062 157.732);
  --green-11: oklch(77.944% 0.16547 157.314);
  --green-12: oklch(90.485% 0.08293 158.246);
}
