:root,
.light,
.light-theme {
  --indigo-1: oklch(99.433% 0.00143 285.189);
  --indigo-2: oklch(0.949 0.009 264);
  --indigo-3: oklch(96.086% 0.01707 267.82);
  --indigo-4: oklch(93.461% 0.03115 269.83);
  --indigo-5: oklch(90.195% 0.04726 269.626);
  --indigo-6: oklch(86.196% 0.06763 271.095);
  --indigo-7: oklch(80.616% 0.08764 271.421);
  --indigo-8: oklch(73.086% 0.11243 270.438);
  --indigo-9: oklch(54.376% 0.1911 267.019);
  --indigo-10: oklch(51.257% 0.19426 266.374);
  --indigo-11: oklch(50.922% 0.17258 267.179);
  --indigo-12: oklch(31.264% 0.08587 268.608);
}
.dark,
.dark-theme {
  --indigo-1: oklch(19.087% 0.02459 276.53);
  --indigo-2: oklch(20.937% 0.03018 274.843);
  --indigo-3: oklch(27.157% 0.07055 267.991);
  --indigo-4: oklch(31.846% 0.09468 267.26);
  --indigo-5: oklch(36.247% 0.10443 267.038);
  --indigo-6: oklch(40.552% 0.10993 268.185);
  --indigo-7: oklch(45.124% 0.11884 268.412);
  --indigo-8: oklch(50.209% 0.13668 268.264);
  --indigo-9: oklch(54.376% 0.1911 267.019);
  --indigo-10: oklch(58.72% 0.17709 269.615);
  --indigo-11: oklch(77.588% 0.1139 273.026);
  --indigo-12: oklch(91.079% 0.04286 269.563);
}
