:root,
.light,
.light-theme {
  --purple-1: oklch(99.336% 0.00316 315.246);
  --purple-2: oklch(98.232% 0.00855 316.584);
  --purple-3: oklch(95.547% 0.0207 313.564);
  --purple-4: oklch(92.172% 0.04009 315.86);
  --purple-5: oklch(89.204% 0.05672 316.828);
  --purple-6: oklch(85.69% 0.07405 317.605);
  --purple-7: oklch(80.698% 0.08877 318.264);
  --purple-8: oklch(74.409% 0.11329 319.395);
  --purple-9: oklch(62.554% 0.19334 313.008);
  --purple-10: oklch(59.915% 0.19455 313.689);
  --purple-11: oklch(55.698% 0.19743 315.153);
  --purple-12: oklch(33.898% 0.10891 310.581);
}

.dark,
.dark-theme {
  --purple-1: oklch(18.803% 0.01345 313.334);
  --purple-2: oklch(20.457% 0.02167 309.004);
  --purple-3: oklch(25.104% 0.06494 307.668);
  --purple-4: oklch(28.928% 0.09511 309.311);
  --purple-5: oklch(33.187% 0.10665 311.333);
  --purple-6: oklch(38.167% 0.11083 311.004);
  --purple-7: oklch(45.017% 0.12106 313.752);
  --purple-8: oklch(54.375% 0.14566 316.222);
  --purple-9: oklch(62.554% 0.19334 313.008);
  --purple-10: oklch(66.319% 0.17749 313.226);
  --purple-11: oklch(78.04% 0.1281 312.104);
  --purple-12: oklch(90.236% 0.05267 306.343);
}
