:root,
.light,
.light-theme {
  --red-1: oklch(99.336% 0.00316 15.246);
  --red-2: oklch(98.232% 0.00855 16.584);
  --red-3: oklch(95.547% 0.0207 13.564);
  --red-4: oklch(92.172% 0.04009 15.86);
  --red-5: oklch(89.204% 0.05672 16.828);
  --red-6: oklch(85.69% 0.07405 17.605);
  --red-7: oklch(80.698% 0.08877 18.264);
  --red-8: oklch(74.409% 0.11329 19.395);
  --red-9: oklch(62.554% 0.19334 23.008);
  --red-10: oklch(59.915% 0.19455 23.689);
  --red-11: oklch(55.698% 0.19743 25.153);
  --red-12: oklch(33.898% 0.10891 16.581);
}
.dark,
.dark-theme {
  --red-1: oklch(18.803% 0.01345 18.334);
  --red-2: oklch(20.457% 0.02167 14.004);
  --red-3: oklch(25.104% 0.06494 12.668);
  --red-4: oklch(28.928% 0.09511 14.311);
  --red-5: oklch(33.187% 0.10665 16.333);
  --red-6: oklch(38.167% 0.11083 16.004);
  --red-7: oklch(45.017% 0.12106 18.752);
  --red-8: oklch(54.375% 0.14566 21.222);
  --red-9: oklch(62.554% 0.19334 23.008);
  --red-10: oklch(66.319% 0.17749 23.226);
  --red-11: oklch(78.04% 0.1281 22.104);
  --red-12: oklch(90.236% 0.05267 6.343);
}
