:root,
.light,
.light-theme {
  --sky-1: oklch(99.355% 0.00552 212.059);
  --sky-2: oklch(97.923% 0.01042 220.071);
  --sky-3: oklch(95.983% 0.02408 219.927);
  --sky-4: oklch(93.584% 0.03518 219.332);
  --sky-5: oklch(90.334% 0.04675 220.665);
  --sky-6: oklch(86.037% 0.05722 223.722);
  --sky-7: oklch(80.845% 0.07173 224.197);
  --sky-8: oklch(72.831% 0.0962 228.472);
  --sky-9: oklch(86.108% 0.10278 217.852);
  --sky-10: oklch(83.553% 0.1038 220.306);
  --sky-11: oklch(52.548% 0.10798 232.576);
  --sky-12: oklch(35.068% 0.05721 242.401);
}
.dark,
.dark-theme {
  --sky-1: oklch(19.002% 0.02499 259.256);
  --sky-2: oklch(21.58% 0.02905 257.547);
  --sky-3: oklch(27.145% 0.05356 251.31);
  --sky-4: oklch(32.079% 0.07033 248.761);
  --sky-5: oklch(37.082% 0.07918 246.105);
  --sky-6: oklch(42.619% 0.08784 243.947);
  --sky-7: oklch(48.843% 0.09825 240.834);
  --sky-8: oklch(55.685% 0.1146 237.467);
  --sky-9: oklch(86.108% 0.10278 217.852);
  --sky-10: oklch(90.85% 0.07322 214.584);
  --sky-11: oklch(79.272% 0.09922 231.652);
  --sky-12: oklch(93.399% 0.05262 214.417);
}
