:root,
.light,
.light-theme {
  --slate-1: oklch(99.135% 0.00143 285.193);
  --slate-2: oklch(98.268% 0.00275 285.746);
  --slate-3: oklch(95.599% 0.0041 285.932);
  --slate-4: oklch(93.214% 0.00546 286.01);
  --slate-5: oklch(91.042% 0.00695 277.073);
  --slate-6: oklch(88.735% 0.00961 286.054);
  --slate-7: oklch(85.301% 0.01115 280.372);
  --slate-8: oklch(79.385% 0.01569 277.757);
  --slate-9: oklch(64.532% 0.01653 277.677);
  --slate-10: oklch(61.075% 0.01553 272.566);
  --slate-11: oklch(50.249% 0.01368 264.48);
  --slate-12: oklch(24.113% 0.00972 248.299);

  --slate-alpha-8: oklch(16.014% 0.07851 262.725 / 0.274);
}
.dark,
.dark-theme {
  --slate-1: oklch(17.853% 0.00409 285.914);
  --slate-2: oklch(21.318% 0.00424 264.524);
  --slate-3: oklch(25.214% 0.00585 271.189);
  --slate-4: oklch(28.319% 0.00702 248.185);
  --slate-5: oklch(31.178% 0.00834 255.633);
  --slate-6: oklch(34.655% 0.01033 254.043);
  --slate-7: oklch(39.928% 0.0121 253.013);
  --slate-8: oklch(48.932% 0.01557 251.766);
  --slate-9: oklch(53.701% 0.01538 262.385);
  --slate-10: oklch(58.252% 0.01461 266.654);
  --slate-11: oklch(76.856% 0.00973 258.463);
  --slate-12: oklch(94.892% 0.003 264.786);

  --slate-alpha-8: oklch(16.014% 0.07851 262.725 / 0.274);
}
