:root {
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 24px;
  --spacing-6: 32px;
  --spacing-7: 40px;
  --spacing-8: 48px;
  --spacing-9: 64px;

  --spacing-container-sm: 640px;
  --spacing-container-md: 760px;
  --spacing-container-lg: 820px;
  --spacing-container-xl: 1200px;
  --spacing-container-2xl: 1440px;
}
