# Ignore everything by default
**

# Allow only needed files
!apps/api/**
!packages/**

!package*.json
!migrations.json
!nx.json
!tsconfig.base.json
!tsconfig.json
!vitest.config.ts
!.env
!.prettierrc
!.prettierignore
!components.json
!eslint.config.mjs
!jest.config.ts
!jest.preset.js